In [17]:
import pandas as pd
import numpy as py

In [18]:
file_path = r"C:\Users\Matthew\penguins.csv"
penguins_df = pd.read_csv(file_path)

In [19]:
penguins_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [20]:
penguins_df.shape

(344, 8)

In [21]:
penguins_df.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

In [6]:
penguins_df.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [7]:
null_counts = penguins_df.isnull().sum()
penguins_df['bill_length_mm'] = penguins_df['bill_length_mm'].fillna(penguins_df['bill_length_mm'].mean())
penguins_df['bill_depth_mm'] = penguins_df['bill_depth_mm'].fillna(penguins_df['bill_depth_mm'].median())
penguins_df['flipper_length_mm'] = penguins_df['flipper_length_mm'].fillna(penguins_df['flipper_length_mm'].mean())
penguins_df['body_mass_g'] = penguins_df['body_mass_g'].fillna(penguins_df['body_mass_g'].mean())

penguins_df['sex'] = penguins_df['sex'].fillna(penguins_df['sex'].mode()[0])
penguins_df['species'] = penguins_df['species'].fillna(penguins_df['species'].mode()[0])
penguins_df['island'] = penguins_df['island'].fillna(penguins_df['island'].mode()[0])

penguins_df.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [8]:
penguins_df['species'] = penguins_df['species'].astype('category')
penguins_df['island'] = penguins_df['island'].astype('category')
penguins_df['sex'] = penguins_df['sex'].astype('category')

penguins_df.dtypes

species              category
island               category
bill_length_mm        float64
bill_depth_mm         float64
flipper_length_mm     float64
body_mass_g           float64
sex                  category
year                    int64
dtype: object

### Question 1
#### Which penguin species has the heaviest average body mass?

In [9]:
species_mass = penguins_df.groupby('species', observed=True)['body_mass_g'].mean().sort_values(ascending=False)
species_mass

species
Gentoo       5068.965761
Chinstrap    3733.088235
Adelie       3703.958910
Name: body_mass_g, dtype: float64

### Insight 1
#### The results show that Gentoo species has the highest average body mass. The heaviest species likely has evolutionary adaptations for colder environments, as larger body size helps with heat retention in Antarctic conditions.

### Question 2
#### Which island has the penguins with the highest average body mass?

In [10]:
island_mass = penguins_df.groupby('island', observed=True)['body_mass_g'].mean().sort_values(ascending=False)
island_mass

island
Biscoe       4712.956871
Torgersen    3715.899123
Dream        3712.903226
Name: body_mass_g, dtype: float64

### Insight 2
#### The island with the heaviest penguins might have better food resources or different environmental conditions that support larger body sizes. This could indicate habitat quality differences between the islands in the study.

### Question 3
#### Which penguin species has the longest average bill length?

In [11]:
species_bill_length = penguins_df.groupby('species', observed=True)['bill_length_mm'].mean().sort_values(ascending=False)
species_bill_length

species
Chinstrap    48.833824
Gentoo       47.475983
Adelie       38.825144
Name: bill_length_mm, dtype: float64

### Answer 3
#### The Chinstrap that has the longest bills has likely evolved this trait to specialize in catching specific types of prey. Bill length is directly related to feeding strategies and the ecological niche each species occupies.

### Question 4
#### What year had the highest average flipper length among all penguins?

In [12]:
yearly_flipper = penguins_df.groupby('year')['flipper_length_mm'].mean().sort_values(ascending=False)
yearly_flipper

year
2008    202.798246
2009    202.790960
2007    196.917411
Name: flipper_length_mm, dtype: float64

### Conclusion 4
#### The year 2009 with the highest average flipper length might indicate better growth conditions for penguins during that period. Flipper size can be influenced by nutrition during development, so this could reflect food availability or environmental conditions in different years.

### Question 5
#### Which sex has the greater average body mass?

In [13]:
sex_mass = penguins_df.groupby('sex', observed=True)['body_mass_g'].mean().sort_values(ascending=False)
sex_mass

sex
male      4514.684407
female    3862.272727
Name: body_mass_g, dtype: float64

### Insight 5
#### The comparison reveals male penguins are heavier on average. This sexual dimorphism in body mass is common in many bird species and often relates to mating strategies and parental roles.

### Question 6
#### What is the average bill depth for each species?

In [14]:
species_bill_depth = penguins_df.groupby('species', observed=True)['bill_depth_mm'].mean().sort_values(ascending=False)
species_bill_depth

species
Chinstrap    18.420588
Adelie       18.339474
Gentoo       15.000806
Name: bill_depth_mm, dtype: float64

### Insight 6
#### The differences in bill depth between species reflect their different feeding adaptations. Species with deeper bills may be adapted to different prey types or feeding techniques compared to those with shallower bills.

### Question 7
#### Which island has the most penguin observations in the dataset?

In [15]:
island_counts = penguins_df['island'].value_counts()
island_counts

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

### Insight 7
#### The island Biscoe with the most observations may be more accessible to researchers or have larger penguin colonies. This information helps us understand the distribution of our data and any potential sampling biases across different locations.

### Question 8
#### How does the bill length to bill depth ratio vary across different penguin species?

In [24]:

penguins_df['bill_ratio'] = penguins_df['bill_length_mm'] / penguins_df['bill_depth_mm']
species_bill_ratio = penguins_df.groupby('species', observed=True)['bill_ratio'].mean().sort_values(ascending=False)
species_bill_ratio

species
Gentoo       3.175592
Chinstrap    2.653756
Adelie       2.119726
Name: bill_ratio, dtype: float64

#### Insight 8
#### The bill length to depth ratio provides insight into feeding adaptations across penguin species. Species with higher ratios likely have more specialized feeding strategies, possibly targeting different prey types. This morphological difference demonstrates how evolutionary pressures have shaped distinct feeding niches among penguin species in the same ecosystem.

#### Question 9
#### Is there a relationship between year and body mass? Has the average penguin body mass changed over time?

In [26]:

yearly_mass = penguins_df.groupby('year', observed=True)['body_mass_g'].mean()
yearly_mass

year
2007    4124.541284
2008    4266.666667
2009    4210.294118
Name: body_mass_g, dtype: float64

### Insight 9
#### Tracking body mass changes over time can reveal potential impacts of climate change or food availability on penguin populations. Any consistent trend could indicate environmental stressors affecting penguin health and survival rates in the Antarctic ecosystem.

### Question 10
#### Which combination of species and island has the largest flipper length?

In [28]:

species_island_flipper = penguins_df.groupby(['species', 'island'], observed=True)['flipper_length_mm'].mean().sort_values(ascending=False)
species_island_flipper.head()

species    island
Gentoo     Biscoe       217.186992
Chinstrap  Dream        195.823529
Adelie     Torgersen    191.196078
           Dream        189.732143
           Biscoe       188.795455
Name: flipper_length_mm, dtype: float64

### Insight 10
#### The variation in flipper length across different species-island combinations suggests local adaptation to specific marine environments. Islands with different surrounding ocean conditions may select for different optimal flipper sizes, demonstrating how geography influences evolutionary adaptations.

### Question 11
#### What is the distribution of body mass for each sex within each species?

In [29]:

species_sex_mass = penguins_df.groupby(['species', 'sex'], observed=True)['body_mass_g'].describe()
species_sex_mass

                  count         mean         std     min      25%     50%  \
species   sex
Adelie    female   73.0  3368.835616  269.380102  2850.0  3175.00  3400.0
          male     73.0  4043.493151  346.811553  3325.0  3800.00  4000.0
Chinstrap female   34.0  3527.205882  285.333912  2700.0  3362.50  3550.0
          male     34.0  3938.970588  362.137550  3250.0  3731.25  3950.0
Gentoo    female   58.0  4679.741379  281.578294  3950.0  4462.50  4700.0
          male     61.0  5484.836066  313.158596  4750.0  5300.00  5500.0

                      75%     max
species   sex
Adelie    female  3550.00  3900.0
          male    4300.00  4775.0
Chinstrap female  3693.75  4150.0
          male    4100.00  4800.0
Gentoo    female  4875.00  5200.0
          male    5700.00  6300.0

### Insight 11
#### Sexual dimorphism in body mass varies across penguin species, reflecting different reproductive strategies. Species with greater mass differences between sexes may have more specialized parental roles or stronger sexual selection pressures, providing insight into their evolutionary history.

### Question 12
#### Is there a correlation between flipper length and body mass across all penguin species?

In [31]:

mass_flipper_corr = penguins_df[['flipper_length_mm', 'body_mass_g']].corr()
mass_flipper_corr

                   flipper_length_mm  body_mass_g
flipper_length_mm           1.000000     0.871202
body_mass_g                 0.871202     1.000000

### Insight 12
#### The correlation between flipper length and body mass reveals allometric relationships in penguin physiology. A strong positive correlation would indicate that larger penguins require proportionally larger flippers for efficient swimming, demonstrating how body proportions scale with overall size to maintain functional efficiency.

### Question 13
#### How does bill length vary by island, regardless of species?

In [34]:

island_bill_length = penguins_df.groupby('island', observed=True)['bill_length_mm'].agg(['mean', 'std', 'min', 'max']).sort_values(by='mean', ascending=False)
island_bill_length

                mean       std   min   max
island
Biscoe     45.257485  4.772731  34.5  59.6
Dream      44.167742  5.953527  32.1  58.0
Torgersen  38.950980  3.025318  33.5  46.0

### Insight 13
#### Differences in bill length across islands may indicate local adaptation to available food resources. Islands with distinct prey profiles could select for different optimal bill lengths, showing how geographic isolation can drive morphological divergence even within the same species.