### Activity 2 - UK ROAD ACCIDENTS DATA ANALYTICS

### Data Analyst: ANDREW OAREZA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

### DESCRIPTIVE ANALYSIS

In [2]:
file_path = r"C:\Users\Matthew\Downloads\uk_road_accident.csv"
df = pd.read_csv(file_path)
print(df.head())
print(df.info())
print(df.describe())

           Index Accident_Severity Accident Date   Latitude  \
0  200701BS64157           Serious      5/6/2019  51.506187
1  200701BS65737           Serious      2/7/2019  51.495029
2  200701BS66127           Serious    26-08-2019  51.517715
3  200701BS66128           Serious    16-08-2019  51.495478
4  200701BS66837            Slight      3/9/2019  51.488576

              Light_Conditions           District Area  Longitude  \
0        Darkness - lights lit  Kensington and Chelsea  -0.209082
1                     Daylight  Kensington and Chelsea  -0.173647
2  Darkness - lighting unknown  Kensington and Chelsea  -0.210215
3                     Daylight  Kensington and Chelsea  -0.202731
4        Darkness - lights lit  Kensington and Chelsea  -0.192487

   Number_of_Casualties  Number_of_Vehicles Road_Surface_Conditions  \
0                     1                   2                     Dry
1                     1                   2             Wet or damp
2                     1                   3                     Dry
3                     1                   4                     Dry
4                     1                   2                     Dry

            Road_Type Urban_or_Rural_Area     Weather_Conditions  \
0  Single carriageway               Urban     Fine no high winds
1  Single carriageway               Urban  Raining no high winds
2                 NaN               Urban                    NaN
3  Single carriageway               Urban     Fine no high winds
4                 NaN               Urban                    NaN

                           Vehicle_Type
0                                   Car
1                                   Car
2                 Taxi/Private hire car
3  Bus or coach (17 or more pass seats)
4                         Other vehicle
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660654 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660653 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  659953 non-null  object
 10  Road_Type                656159 non-null  object
 11  Urban_or_Rural_Area      660664 non-null  object
 12  Weather_Conditions       646551 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 70.6+ MB
None
            Latitude      Longitude  Number_of_Casualties  Number_of_Vehicles
count  660654.000000  660653.000000         660679.000000       660679.000000
mean       52.553866      -1.431210              1.357040            1.831255
std         1.406922       1.383330              0.824847            0.715269
min        49.914430      -7.516225              1.000000            1.000000
25%        51.490690      -2.332291              1.000000            1.000000
50%        52.315641      -1.411667              1.000000            2.000000
75%        53.453452      -0.232869              1.000000            2.000000
max        60.757544       1.762010             68.000000           32.000000

### FINDING MISSING DATAS

In [24]:
df.isnull().sum()

Index                           0
Accident_Severity               0
Accident Date              395672
Latitude                       25
Light_Conditions                0
District Area                   0
Longitude                      26
Number_of_Casualties            0
Number_of_Vehicles              0
Road_Surface_Conditions       726
Road_Type                    4520
Urban_or_Rural_Area            15
Weather_Conditions          14128
Vehicle_Type                    0
Month                      395672
Year                       395672
dtype: int64

### FILLING UP MISSING DATAS

In [27]:
df['Latitude'] = df['Latitude'].fillna(df['Latitude'].mean())
df['Longitude'] = df['Longitude'].fillna(df['Longitude'].mean())
df['Road_Surface_Conditions'] = df['Road_Surface_Conditions'].fillna(df['Road_Surface_Conditions'].mode()[0])
df['Road_Type'] = df['Road_Type'].fillna(df['Road_Type'].mode()[0])
df['Urban_or_Rural_Area'] = df['Urban_or_Rural_Area'].fillna(df['Urban_or_Rural_Area'].mode()[0])
df['Weather_Conditions'] = df['Weather_Conditions'].fillna(df['Weather_Conditions'].mode()[0])
df.isnull().sum()

Index                           0
Accident_Severity               0
Accident Date              395672
Latitude                        0
Light_Conditions                0
District Area                   0
Longitude                       0
Number_of_Casualties            0
Number_of_Vehicles              0
Road_Surface_Conditions         0
Road_Type                       0
Urban_or_Rural_Area             0
Weather_Conditions              0
Vehicle_Type                    0
Month                      395672
Year                       395672
dtype: int64

### Changing data types

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            265007 non-null  datetime64[ns]
 3   Latitude                 660679 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660679 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  660679 non-null  object
 10  Road_Type                660679 non-null  object
 11  Urban_or_Rural_Area      660679 non-null  object
 12  Weather_Conditions       660679 non-null  object
 13  Vehicle_Type             660679 non-null  object
 14  Month                    265007 non-null  float64
 15  Year                     265007 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(2), object(9)
memory usage: 80.6+ MB

In [30]:
df['Index'] = df['Index'].astype('category')
df['Accident_Severity'] = df['Accident_Severity'].astype('category')
df['Accident Date'] = df['Accident Date'].astype('category')
df['Light_Conditions'] = df['Light_Conditions'].astype('category')
df['District Area'] = df['District Area'].astype('category')
df['Road_Surface_Conditions'] = df['Road_Surface_Conditions'].astype('category')
df['Road_Type'] = df['Road_Type'].astype('category')
df['Urban_or_Rural_Area'] = df['Urban_or_Rural_Area'].astype('category')
df['Weather_Conditions'] = df['Weather_Conditions'].astype('category')
df['Vehicle_Type'] = df['Vehicle_Type'].astype('category')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 16 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  category
 1   Accident_Severity        660679 non-null  category
 2   Accident Date            265007 non-null  category
 3   Latitude                 660679 non-null  float64
 4   Light_Conditions         660679 non-null  category
 5   District Area            660679 non-null  category
 6   Longitude                660679 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  660679 non-null  category
 10  Road_Type                660679 non-null  category
 11  Urban_or_Rural_Area      660679 non-null  category
 12  Weather_Conditions       660679 non-null  category
 13  Vehicle_Type             660679 non-null  category
 14  Month                    265007 non-null  float64
 15  Year                     265007 non-null  float64
dtypes: category(10), float64(4), int64(2)
memory usage: 59.1 MB

### EXPLORATORY DATA ANALYSIS (EDA)

### 1. Which district reports the highest proportion of Fatal accidents?

In [3]:
district_severity = pd.crosstab(df['District Area'], df['Accident_Severity'], normalize='index')
district_fatal_proportion = district_severity.sort_values(by='Fatal', ascending=False)
district_fatal_proportion.head()

Accident_Severity     Fatal   Serious    Slight
District Area
Rutland            0.059382  0.154394  0.786223
Melton             0.046729  0.127103  0.826168
South Shropshire   0.045455  0.190909  0.763636
Harborough         0.045113  0.135338  0.819549
Blaeu Gwent        0.045045  0.180180  0.774775

#### This analysis identifies that Rutland have the highest percentage of fatal accidents relative to their total accident count. Districts at the top of this list may need targeted road safety interventions.


### 2. What is the correlation between numerical features?

In [4]:
df[['Latitude', 'Longitude', 'Number_of_Casualties', 'Number_of_Vehicles']].corr()

,Latitude,Longitude,Number_of_Casualties,Number_of_Vehicles
Latitude,1.000000,-0.398114,0.032201,-0.040028
Longitude,-0.398114,1.000000,-0.040406,0.014725
Number_of_Casualties,0.032201,-0.040406,1.000000,0.228889
Number_of_Vehicles,-0.040028,0.014725,0.228889,1.000000

#### This correlation matrix reveals relationships between location coordinates and accident severity metrics. A strong positive correlation between Number_of_Casualties and Number_of_Vehicles would suggest that accidents involving more vehicles tend to result in more casualties.

### 3. What is the distribution of accident severity?

In [5]:
df['Accident_Severity'].value_counts()

Accident_Severity
Slight     563801
Serious     88217
Fatal        8661
Name: count, dtype: int64

#### This shows the frequency of each accident severity category, helping us understand the overall distribution of accident outcomes. It provides context for how common fatal accidents are compared to less severe ones.


### 4. What is the average number of casualties by accident severity?

In [6]:
df.groupby('Accident_Severity')['Number_of_Casualties'].mean().sort_values(ascending=False)

Accident_Severity
Fatal      1.903129
Serious    1.467280
Slight     1.331402
Name: Number_of_Casualties, dtype: float64

#### This analysis reveals how the average number of casualties varies by accident severity classification. We would expect fatal accidents to have higher casualty counts, but the magnitude of difference is important for understanding the relationship between severity classification and actual human impact.

### 5. What is the relationship between Road_Type and Accident_Severity?

In [7]:
pd.crosstab(df['Road_Type'], df['Accident_Severity'], normalize='index')

Accident_Severity      Fatal   Serious    Slight
Road_Type
Dual carriageway    0.018255  0.118140  0.863604
One way street      0.007006  0.122059  0.870934
Roundabout          0.003228  0.083311  0.913462
Single carriageway  0.013262  0.142355  0.844383
Slip road           0.006959  0.086777  0.906263


#### This cross-tabulation shows which road types have higher proportions of fatal or serious accidents. Certain road types (like motorways or rural roads) may be associated with more severe accident outcomes due to factors like speed limits or road design.

### 6. What is the distribution of accidents by Light_Conditions?

In [8]:
df['Light_Conditions'].value_counts()

Light_Conditions
Daylight                       484880
Darkness - lights lit          129335
Darkness - no lighting          37437
Darkness - lighting unknown      6484
Darkness - lights unlit          2543
Name: count, dtype: int64

#### This analysis shows when accidents are most likely to occur in terms of lighting conditions. A high proportion of accidents during darkness might suggest issues with visibility, street lighting, or driver fatigue.

### 7. What is the relationship between Weather_Conditions and Accident_Severity?

In [9]:
pd.crosstab(df['Weather_Conditions'], df['Accident_Severity'], normalize='index')

Accident_Severity         Fatal   Serious    Slight
Weather_Conditions
Fine + high winds      0.020458  0.145546  0.833996
Fine no high winds     0.013631  0.138315  0.848055
Fog or mist            0.023243  0.136905  0.839853
Other                  0.009621  0.105015  0.885364
Raining + high winds   0.015081  0.131149  0.853770
Raining no high winds  0.010640  0.118801  0.870558
Snowing + high winds   0.003390  0.123164  0.873446
Snowing no high winds  0.005771  0.090574  0.903655

#### This reveals whether certain weather conditions are associated with more severe accident outcomes. For example, we might find that fog or ice leads to proportionally more fatal accidents than clear conditions.

### 8. What is the average number of vehicles involved by Road_Type?

In [10]:
df.groupby('Road_Type')['Number_of_Vehicles'].mean().sort_values(ascending=False)

Road_Type
Dual carriageway      2.009766
Slip road             1.917483
Roundabout            1.901323
Single carriageway    1.795911
One way street        1.585441
Name: Number_of_Vehicles, dtype: float64

#### This analysis shows which road types tend to involve more vehicles in accidents. Multi-lane highways might show higher vehicle involvement than single carriageways, reflecting different traffic patterns and collision types.


### 9. What is the distribution of accidents by Urban_or_Rural_Area?

In [11]:
df['Urban_or_Rural_Area'].value_counts()

Urban_or_Rural_Area
Urban          421663
Rural          238990
Unallocated        11
Name: count, dtype: int64

#### This shows whether accidents occur more frequently in urban or rural settings. While urban areas may have more accidents due to higher traffic volume, rural accidents might be more severe due to higher speeds.

### 10. What is the relationship between Urban_or_Rural_Area and Accident_Severity?

In [12]:
pd.crosstab(df['Urban_or_Rural_Area'], df['Accident_Severity'], normalize='index')

Accident_Severity       Fatal   Serious    Slight
Urban_or_Rural_Area
Rural                0.023436  0.156124  0.820440
Unallocated          0.000000  0.090909  0.909091
Urban                0.007257  0.120717  0.872026

#### This analysis reveals whether urban or rural accidents tend to be more severe. Rural roads often have higher fatality rates despite fewer total accidents, potentially due to higher speeds, delayed emergency response, or road design factors.

### 11. What is the relationship between road surface conditions and accident severity in different districts?

In [13]:
road_surface_severity = pd.crosstab(df['Road_Surface_Conditions'], df['Accident_Severity'], normalize='index')
road_surface_severity

Accident_Severity           Fatal   Serious    Slight
Road_Surface_Conditions
Dry                      0.012925  0.137640  0.849435
Flood over 3cm. deep     0.022616  0.149459  0.827925
Frost or ice             0.010423  0.108387  0.881190
Snow                     0.005942  0.095925  0.898132
Wet or damp              0.014033  0.127391  0.858576

#### Analysis:

This analysis shows the proportion of each accident severity (Fatal, Serious, Slight) for different road surface conditions. By examining the table, we can identify which road surface conditions, such as Wet or Damp or Dry, are associated with higher severity accidents.

### 12. How do weather conditions correlate with the occurrence of fatal accidents in urban areas?|

In [14]:
urban_accidents = df[df['Urban_or_Rural_Area'] == 'Urban']
weather_severity = pd.crosstab(urban_accidents['Weather_Conditions'], urban_accidents['Accident_Severity'], normalize='index')
fatal_weather = weather_severity['Fatal']
fatal_weather.sort_values(ascending=False)

Weather_Conditions
Fine + high winds        0.013816
Fog or mist              0.010499
Raining + high winds     0.007972
Fine no high winds       0.007591
Raining no high winds    0.005792
Other                    0.004993
Snowing no high winds    0.002196
Snowing + high winds     0.000000
Name: Fatal, dtype: float64

#### Analysis:

This analysis shows the correlation between weather conditions and the occurrence of fatal accidents in urban areas. By examining the proportions of fatal accidents across different weather conditions, we can observe whether certain weather conditions, such as Raining or Snowing, increase the likelihood of fatal accidents.

### 13. What is the trend of accidents over time, based on the date of occurrence? Are there any seasonal patterns?

In [15]:
df['Accident Date'] = pd.to_datetime(df['Accident Date'], errors='coerce')
df['Month'] = df['Accident Date'].dt.month
df['Year'] = df['Accident Date'].dt.year
monthly_accidents = df.groupby('Month').size()
monthly_accidents

Month
1.0     22606
2.0     21815
3.0     21540
4.0     21699
5.0     22409
6.0     21974
7.0     21431
8.0     21914
9.0     22252
10.0    22328
11.0    22503
12.0    22536
dtype: int64

### Analysis:

This analysis shows the number of accidents that occurred each month. By looking at the data, we can identify seasonal patterns in accident occurrences, such as whether certain months have higher accident rates, indicating possible weather or traffic factors.

### 14. Which district has the highest rate of serious accidents, and what factors contribute to this?

In [16]:
district_severity = pd.crosstab(df['District Area'], df['Accident_Severity'], normalize='index')
district_serious = district_severity['Serious']
district_serious_sorted = district_serious.sort_values(ascending=False)
district_serious_sorted.head()

District Area
Ryedale                   0.309293
Dumfries and Galloway     0.251170
Daventry                  0.250554
South Northamptonshire    0.249715
Richmondshire             0.246556
Name: Serious, dtype: float64

#### Analysis:

This analysis shows which districts have the highest proportion of serious accidents. By looking at the results, we can identify districts that may require targeted safety interventions, such as improved road infrastructure or increased enforcement of traffic laws.

### 15. What is the correlation between the number of vehicles involved and the severity of accidents?

In [17]:
vehicles_severity = pd.crosstab(df['Number_of_Vehicles'], df['Accident_Severity'], normalize='index')
vehicles_severity

Accident_Severity      Fatal   Serious    Slight
Number_of_Vehicles
1                   0.019349  0.193937  0.786714
2                   0.008845  0.106068  0.885088
3                   0.017044  0.109988  0.872969
4                   0.024071  0.118584  0.857345
5                   0.028409  0.132305  0.839286
6                   0.036939  0.159631  0.803430
7                   0.057432  0.212838  0.729730
8                   0.081633  0.170068  0.748299
9                   0.017544  0.087719  0.894737
10                  0.074074  0.185185  0.740741
11                  0.166667  0.000000  0.833333
12                  0.000000  0.285714  0.714286
13                  0.000000  0.333333  0.666667
14                  0.333333  0.000000  0.666667
15                  0.000000  0.000000  1.000000
16                  0.250000  0.250000  0.500000
19                  0.000000  1.000000  0.000000
28                  1.000000  0.000000  0.000000
32                  0.000000  0.000000  1.000000

#### Analysis:

This analysis shows how the number of vehicles involved in an accident correlates with the severity of the accident. By examining the data, we can determine if accidents involving more vehicles tend to be more severe, which could inform traffic safety policies.

### 16. How does the type of road (single carriageway, dual carriageway, etc.) influence the severity of accidents?

In [18]:
road_type_severity = pd.crosstab(df['Road_Type'], df['Accident_Severity'], normalize='index')
road_type_severity

Accident_Severity      Fatal   Serious    Slight
Road_Type
Dual carriageway    0.018255  0.118140  0.863604
One way street      0.007006  0.122059  0.870934
Roundabout          0.003228  0.083311  0.913462
Single carriageway  0.013262  0.142355  0.844383
Slip road           0.006959  0.086777  0.906263

#### Analysis:

This analysis shows how the type of road, such as single carriageway or dual carriageway, influences the severity of accidents. The table will help us understand whether certain road types are more prone to severe accidents, which could inform infrastructure decisions.

### 17. What are the differences in accident severity between rural and urban areas?

In [19]:
urban_rural_severity = pd.crosstab(df['Urban_or_Rural_Area'], df['Accident_Severity'], normalize='index')
urban_rural_severity

Accident_Severity       Fatal   Serious    Slight
Urban_or_Rural_Area
Rural                0.023436  0.156124  0.820440
Unallocated          0.000000  0.090909  0.909091
Urban                0.007257  0.120717  0.872026

#### Analysis:

This analysis shows the differences in accident severity between urban and rural areas. By comparing the proportions of fatal, serious, and slight accidents in both areas, we can understand whether urban areas experience more severe accidents compared to rural areas, or vice versa.

### 18. How do light conditions impact the frequency of serious accidents at night versus during the day?

In [20]:
light_conditions_severity = pd.crosstab(df['Light_Conditions'], df['Accident_Severity'], normalize='index')
serious_light_conditions = light_conditions_severity['Serious']
serious_light_conditions

Light_Conditions
Darkness - lighting unknown    0.122455
Darkness - lights lit          0.147910
Darkness - lights unlit        0.141565
Darkness - no lighting         0.191629
Daylight                       0.125307
Name: Serious, dtype: float64

#### Analysis:

This analysis shows how light conditions, such as daylight or darkness, affect the frequency of serious accidents. By examining the proportions of serious accidents during different light conditions, we can identify whether accidents are more likely to be severe during the night or in low-visibility conditions.

### 19. What are the casualty rates in districts with the highest accident severity, and how can this information inform public safety measures?

In [21]:
district_casualty_rate = df.groupby('District Area').agg({'Number_of_Casualties': 'sum'})
district_casualty_rate_sorted = district_casualty_rate.sort_values(by='Number_of_Casualties', ascending=False)
district_casualty_rate_sorted.head()

               Number_of_Casualties
District Area
Birmingham                    18674
Leeds                         12438
Manchester                     9437
Bradford                       9268
Liverpool                      8669

#### Analysis:

This analysis shows the districts with the highest total number of casualties. By focusing on these districts, we can identify areas that may benefit from public safety interventions, such as increased road safety measures or more robust emergency response protocols.

### 20. What patterns can be observed in accidents involving multiple vehicles versus single-vehicle incidents in terms of accident severity?

In [22]:
single_multiple_vehicle_severity = pd.crosstab(df['Number_of_Vehicles'], df['Accident_Severity'], normalize='index')
single_multiple_vehicle_severity

Accident_Severity      Fatal   Serious    Slight
Number_of_Vehicles
1                   0.019349  0.193937  0.786714
2                   0.008845  0.106068  0.885088
3                   0.017044  0.109988  0.872969
4                   0.024071  0.118584  0.857345
5                   0.028409  0.132305  0.839286
6                   0.036939  0.159631  0.803430
7                   0.057432  0.212838  0.729730
8                   0.081633  0.170068  0.748299
9                   0.017544  0.087719  0.894737
10                  0.074074  0.185185  0.740741
11                  0.166667  0.000000  0.833333
12                  0.000000  0.285714  0.714286
13                  0.000000  0.333333  0.666667
14                  0.333333  0.000000  0.666667
15                  0.000000  0.000000  1.000000
16                  0.250000  0.250000  0.500000
19                  0.000000  1.000000  0.000000
28                  1.000000  0.000000  0.000000
32                  0.000000  0.000000  1.000000

#### Analysis:

This analysis shows the patterns in accident severity between single-vehicle and multiple-vehicle incidents. By examining the severity for both types of accidents, we can observe whether multiple-vehicle accidents tend to be more severe than single-vehicle accidents, which could help inform traffic safety campaigns.