In [1]:
import pandas as pd

In [2]:
file_path = r"C:\Users\Matthew\penguins.csv"
penguins_df = pd.read_csv(file_path)

In [3]:
penguins_df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [4]:
penguins_df.shape

(344, 8)

In [5]:
penguins_df.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

In [6]:
penguins_df.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [7]:
null_counts = penguins_df.isnull().sum()
penguins_df['bill_length_mm'] = penguins_df['bill_length_mm'].fillna(penguins_df['bill_length_mm'].mean())
penguins_df['bill_depth_mm'] = penguins_df['bill_depth_mm'].fillna(penguins_df['bill_depth_mm'].median())
penguins_df['flipper_length_mm'] = penguins_df['flipper_length_mm'].fillna(penguins_df['flipper_length_mm'].mean())
penguins_df['body_mass_g'] = penguins_df['body_mass_g'].fillna(penguins_df['body_mass_g'].mean())

penguins_df['sex'] = penguins_df['sex'].fillna(penguins_df['sex'].mode()[0])
penguins_df['species'] = penguins_df['species'].fillna(penguins_df['species'].mode()[0])
penguins_df['island'] = penguins_df['island'].fillna(penguins_df['island'].mode()[0])

penguins_df.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [8]:
penguins_df['species'] = penguins_df['species'].astype('category')
penguins_df['island'] = penguins_df['island'].astype('category')
penguins_df['sex'] = penguins_df['sex'].astype('category')

penguins_df.dtypes

species              category
island               category
bill_length_mm        float64
bill_depth_mm         float64
flipper_length_mm     float64
body_mass_g           float64
sex                  category
year                    int64
dtype: object

### Question 1
#### Which penguin species has the heaviest average body mass?

In [15]:
species_mass = penguins_df.groupby('species', observed=True)['body_mass_g'].mean().sort_values(ascending=False)
species_mass

species
Gentoo       5068.965761
Chinstrap    3733.088235
Adelie       3703.958910
Name: body_mass_g, dtype: float64

### Insight 1
#### The results show that Gentoo species has the highest average body mass. The heaviest species likely has evolutionary adaptations for colder environments, as larger body size helps with heat retention in Antarctic conditions.

### Question 2
#### Which island has the penguins with the highest average body mass?

In [17]:
island_mass = penguins_df.groupby('island', observed=True)['body_mass_g'].mean().sort_values(ascending=False)
island_mass

island
Biscoe       4712.956871
Torgersen    3715.899123
Dream        3712.903226
Name: body_mass_g, dtype: float64

### Insight 2
#### The island with the heaviest penguins might have better food resources or different environmental conditions that support larger body sizes. This could indicate habitat quality differences between the islands in the study.

### Question 3
#### Which penguin species has the longest average bill length?

In [18]:
species_bill_length = penguins_df.groupby('species', observed=True)['bill_length_mm'].mean().sort_values(ascending=False)
species_bill_length

species
Chinstrap    48.833824
Gentoo       47.475983
Adelie       38.825144
Name: bill_length_mm, dtype: float64

### Answer 3
#### The Chinstrap that has the longest bills has likely evolved this trait to specialize in catching specific types of prey. Bill length is directly related to feeding strategies and the ecological niche each species occupies.

### Question 4
#### What year had the highest average flipper length among all penguins?

In [19]:
yearly_flipper = penguins_df.groupby('year')['flipper_length_mm'].mean().sort_values(ascending=False)
yearly_flipper

year
2008    202.798246
2009    202.790960
2007    196.917411
Name: flipper_length_mm, dtype: float64

### Conclusion 4
#### The year 2009 with the highest average flipper length might indicate better growth conditions for penguins during that period. Flipper size can be influenced by nutrition during development, so this could reflect food availability or environmental conditions in different years.

### Question 5
#### Which sex has the greater average body mass?

In [20]:
sex_mass = penguins_df.groupby('sex', observed=True)['body_mass_g'].mean().sort_values(ascending=False)
sex_mass

sex
male      4514.684407
female    3862.272727
Name: body_mass_g, dtype: float64

### Insight 5
#### The comparison reveals male penguins are heavier on average. This sexual dimorphism in body mass is common in many bird species and often relates to mating strategies and parental roles.

### Question 6
#### What is the average bill depth for each species?

In [21]:
species_bill_depth = penguins_df.groupby('species', observed=True)['bill_depth_mm'].mean().sort_values(ascending=False)
species_bill_depth

species
Chinstrap    18.420588
Adelie       18.339474
Gentoo       15.000806
Name: bill_depth_mm, dtype: float64

### Insight 6
#### The differences in bill depth between species reflect their different feeding adaptations. Species with deeper bills may be adapted to different prey types or feeding techniques compared to those with shallower bills.

### Question 7
#### Which island has the most penguin observations in the dataset?

In [22]:
island_counts = penguins_df['island'].value_counts()
island_counts

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

### Answer 7
#### The island Biscoe with the most observations may be more accessible to researchers or have larger penguin colonies. This information helps us understand the distribution of our data and any potential sampling biases across different locations.